# Rover Robot udev rules
# Install with: sudo cp ~/99-rover-devices.rules /etc/udev/rules.d/
# Then: sudo udevadm control --reload-rules && sudo udevadm trigger

# RPLIDAR (Silicon Labs CP210x)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="rplidar", MODE="0666"

# Arduino Mega 2560 (Motor Controller)
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0042", SYMLINK+="arduino", MODE="0666"
